/* Scoped Hextris Styles - all styles contained within .sacga-hextris */

/* Container setup */
.sacga-hextris {
    position: relative;
    width: 100%;
    height: 600px;
    min-height: 400px;
    overflow: hidden;
    color: #ecf0f1;
    font-family: 'Exo', sans-serif;
    background-color: #ecf0f1;
}

.sacga-hextris * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;
}

.sacga-hextris #HIGHSCORE {
    position: absolute;
    left: 50%;
    width: 250px;
    overflow: visible;
    margin-left: -175px;
    font-family: Exo;
}

.sacga-hextris #container {
    color: #232323;
    position: absolute;
    left: 50%;
    top: calc(50%);
    text-align: center;
    transform: translate(-50%, -50%);
    font-family: Exo;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display: none;
}

.sacga-hextris .tweet {
    font-size: 2rem;
    color: #4099FF;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .sacga-hextris .tweet {
        font-size: 1rem;
    }
}

.sacga-hextris a {
    color: #232323;
}

.sacga-hextris .navbar {
    width: 80%;
    margin: 0 auto;
    padding: 2.5vmin 0;
    text-align: center;
}

.sacga-hextris .navbar li {
    display: inline-block;
    text-align: center;
    width: calc(33% - 1.25vmin);
}

.sacga-hextris #title {
    color: #ecf0f1;
    font-size: 6vmin;
    z-index: 99;
    margin-top: 20px;
    color: #2c3e50;
}

.sacga-hextris #score {
    font-size: 4vmin;
    text-align: center;
    width: 30%;
}

.sacga-hextris #highscores {
    text-align: center;
    list-style: none;
}

.sacga-hextris .not-visible {
    display: none;
}

.sacga-hextris button {
    color: #ecf0f1;
    background-color: rgba(0,0,0,0);
    border: 0;
}

.sacga-hextris button:focus {
    outline: 0;
}

.sacga-hextris #openSideBar {
    position: absolute;
    margin-top: 6px;
    width: 72px;
    height: 72px;
    margin-left: 11px;
    z-index: 3003;
    color: #232323;
    cursor: pointer;
    top: 0;
    left: 0;
}

.sacga-hextris #pauseBtn {
    display: none;
    position: absolute;
    margin-bottom: 7px;
    width: 72px;
    height: 72px;
    margin-right: 11px;
    z-index: 99;
    color: #232323;
    cursor: pointer;
    right: 0;
    bottom: 0;
}

.sacga-hextris #restartBtn {
    display: none;
    position: absolute;
    margin-bottom: 7px;
    width: 72px;
    height: 72px;
    margin-left: 11px;
    z-index: 99;
    color: #232323;
    cursor: pointer;
    bottom: 0;
    left: 0;
}

.sacga-hextris #startBtn {
    position: absolute;
    left: 40%;
    top: 38%;
    height: 25%;
    width: 25%;
    z-index: 99999999;
    cursor: pointer;
}

.sacga-hextris #helpScreen {
    height: 100%;
    width: 100%;
    z-index: 3001;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    font-size: 15px;
    text-align: center;
    display: none;
    color: #232323;
    background-color: rgba(236,240,241,1);
}

.sacga-hextris #colorBlindBtn {
    position: absolute;
    width: 120px;
    height: 20px;
    z-index: 9999;
    left: 47%;
    top: 65%;
    font-size: 15px;
    text-align: center;
    color: #232323;
    cursor: pointer;
}

.sacga-hextris #inst_main_body {
    padding: 0px;
    font-size: 1.2em;
    left: 50%;
    top: 50%;
    position: absolute;
    text-align: left;
    max-width: 400px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.sacga-hextris #inst_main_body > a {
    font-weight: bold;
}

.sacga-hextris #inst_main_body > hr {
    width: 100%;
    color: #232323;
    background-color: #232323;
    height: 1px;
    border: 0;
}

.sacga-hextris #inst_main_body > p {
    margin-bottom: 15px;
}

.sacga-hextris #instructions_head {
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 4px;
}

.sacga-hextris #highScoreInGameTextHeader {
    color: #bdc3c7;
    width: 100%;
}

.sacga-hextris #highScoreInGameText {
    position: absolute;
    top: 10px;
    text-align: center;
    width: 200px;
    left: 50%;
    margin-left: -100px;
}

.sacga-hextris #currentHighScore {
    color: #2c3e50;
    width: 100%;
    margin-top: -5px;
    font-size: 2em;
}

@media only screen and (max-device-width: 480px) {
    .sacga-hextris #helpScreen {
        position: absolute;
        top: 2px;
        padding-top: 20px;
        margin: 0;
        width: 100%;
        height: 100%;
        font-size: 13px;
        text-align: center;
    }
    .sacga-hextris #inst_main_body {
        width: calc(100% - 70px);
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
    .sacga-hextris #instructions_head {
        padding-left: 0%;
    }
    .sacga-hextris #openSideBar {
        width: 60px;
        height: 60px;
    }
    .sacga-hextris #pauseBtn {
        width: 60px;
        height: 60px;
    }
    .sacga-hextris #restartBtn {
        width: 60px;
        height: 60px;
    }
}

.sacga-hextris .overlay {
    position: absolute;
    height: 20%;
    width: 100%;
    left: 50%;
    top: 50%;
    margin-left: -50%;
    margin-top: -10%;
    z-index: 3000;
    color: #232323;
    text-align: center;
}

.sacga-hextris .helpText {
    z-index: 3001;
}

.sacga-hextris .centeredHeader {
    font-size: 5vw;
    text-align: center;
    line-height: 4rem;
}

.sacga-hextris .centeredSubHeader {
    font-size: 2.2rem;
    line-height: 1em;
    text-align: center;
}

.sacga-hextris .centeredSubSubHeader {
    font-size: 1.4rem;
    text-align: center;
}

.sacga-hextris #buttonCont {
    position: absolute;
    left: 50%;
    width: 310px;
    margin-left: -8px;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
}

@media only screen and (orientation: landscape) {
    .sacga-hextris #buttonCont {
        bottom: calc(50% - 19% - 36px);
    }
    .sacga-hextris #container {
        top: calc(50% - 11%);
    }
}

@media only screen and (orientation: portrait) {
    .sacga-hextris #buttonCont {
        bottom: calc(50% - 19% - 36px);
    }
    .sacga-hextris #container {
        top: calc(50% - 11%);
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 600px) {
    .sacga-hextris .centeredHeader {
        font-size: 2rem;
        text-align: center;
        line-height: 0.6rem;
    }

    .sacga-hextris .centeredSubHeader {
        font-size: 1rem;
        text-align: center;
    }

    .sacga-hextris .overlay {
        margin-top: -20%;
    }

    .sacga-hextris #buttonCont {
        width: 280px;
    }

    @media only screen and (orientation: landscape) {
        .sacga-hextris #buttonCont {
            bottom: 119px;
        }
    }

    @media only screen and (orientation: portrait) {
        .sacga-hextris #buttonCont {
            bottom: 119px;
        }
    }
}

.sacga-hextris .blur {
    opacity: 0.1;
}

.sacga-hextris #clickToExit {
    cursor: pointer;
}

.sacga-hextris #canvas {
    transition: all 0.5s ease;
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #ecf0f1;
    z-index: 0;
}

.sacga-hextris #gameoverscreen {
    padding: 8px;
}

.sacga-hextris #restart {
    display: none;
    cursor: pointer !important;
    margin: 0;
    padding: 0;
    bottom: 15px;
    position: absolute;
    left: calc(50% - 124px);
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    margin-bottom: -3.5px;
}

.sacga-hextris #socialShare {
    display: none;
    margin: 0;
    padding: 0;
    bottom: 0;
    margin-bottom: 6.5px;
    position: absolute;
    left: calc(50% + 30px);
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    padding-bottom: 2px;
}

.sacga-hextris .unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sacga-hextris #afterhr {
    margin: 0;
    padding: 0;
    margin-bottom: -10px;
    padding-bottom: -10px;
}

@font-face {
    font-family: Exo;
    font-weight: light;
    src: url("./fonts/Exo2-ExtraLight.otf") format("opentype");
}

@font-face {
    font-family: Exo;
    src: url("./fonts/Exo2-Regular.otf") format("opentype");
}

@font-face {
    font-family: Exo;
    font-weight: bold;
    src: url("./fonts/Exo2-SemiBold.otf") format("opentype");
}

.sacga-hextris .GOTitle {
    font-weight: bold;
    font-size: 24.2000px;
}

.sacga-hextris .scoreNum {
    font-weight: normal !important;
}

.sacga-hextris #cScore {
    font-size: 60.5000px;
    font-weight: light;
    margin-bottom: 5px;
    margin-top: -10px;
}

.sacga-hextris #highScoresTitle {
    margin-bottom: 2px;
}

.sacga-hextris .score {
    font-weight: light;
    line-height: 18px;
}

.sacga-hextris #bottomContainer {
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.sacga-hextris #androidBadge {
    position: absolute;
    height: 41px;
    margin-top: 5px;
    left: calc(50% - 66px);
    transform: translate(calc(-50% - 4px), -1px);
    -webkit-transform: translate(calc(-50% - 4px), -1px);
    -moz-transform: translate(calc(-50% - 4px), -1px);
    -ms-transform: translate(calc(-50% - 4px), -1px);
}

.sacga-hextris #iOSBadge {
    margin-top: 5px;
    position: absolute;
    left: calc(50% + 65px);
    transform: translate(calc(-50% - 4px), 0%);
    -webkit-transform: translate(calc(-50% - 4px), 0%);
    -moz-transform: translate(calc(-50% - 4px), 0%);
    -ms-transform: translate(calc(-50% - 4px), 0%);
}

.sacga-hextris #authors {
    position: absolute;
    width: 200px;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
}

/* Faded state for overlay */
.sacga-hextris .faded {
    opacity: 0;
    pointer-events: none;
}
